<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Protsaenko Olga</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a8f2935d72.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="main.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    </style>
</head>

<body>

    <div class="wrapper" id="mycv">

        <header class="header">

            <div class="header__content">
                <h1 class="header__name">{{ loc.fullname }}</h1>
                <h2 class="header__title">{{ loc.job_title }}</h2>
            </div>
            <img class="header__avatar" v-bind:src="loc.avatar_url" alt="photo">
        </header>
        <div class="content">
            <aside class="sidebar">
                <section class="sidebar__contacts">
                    <h2 class="sidebar__title">{{ loc.contacts_block_name }}</h2>
                    <ul class="sidebar__list sidebar__list-cropped">
                        <li class="sidebar__item sidebar__item_complex"><i class="fas fa-phone-alt"></i><a
                                v-bind:href="'tel:' + loc.contacts_phone">{{ loc.contacts_phone }}</a></li>
                        <li class="sidebar__item sidebar__item_complex"><i class="far fa-envelope"></i><a
                                v-bind:href="'mailto:' + loc.contacts_email">{{ loc.contacts_email }}</a>
                        </li>
                    </ul>
                    <!--------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-- ICONS FROM FOMTAWESOME  -->
                    <div class="sidebar__icons">
                        <a class="sidebar__icon" :href="loc.link_github" target="_blank"><i
                                class="fab fa-github fa-2x"></i></a>
                        <a class="sidebar__icon" :href="loc.link_linkedin" target="_blank"><i
                                class="fab fa-linkedin-in  fa-2x"></i></a>
                        <a class="sidebar__icon" :href="loc.link_telegram" target="_blank"><i
                                class="fab fa-telegram-plane  fa-2x"></i></a>
                    </div>
                </section>

                <section class="sidebar__pro-skills">
                    <h2 class="sidebar__title">{{ loc.proSkills_block_name }}</h2>
                    <ul class="sidebar__list sidebar__list-column">
                        <li class="sidebar__item sidebar__item-column" v-for="el in proSkills">
                            {{ el.skill }}
                            <div class="skills-bar">
                                <div class="level" :style="{width: el.value+'%'}"></div>
                            </div>
                        </li>
                    </ul>

                </section>

                <section class="sidebar__personal-skills">
                    <h2 class="sidebar__title">{{ loc.personalSkills_block_name }}</h2>
                    <ul class="sidebar__list">
                        <li class="sidebar__item" v-for="el in personalSkills">
                            {{ el.skill }}</li>
                    </ul>
                </section>

                <section class="sidebar__languages">
                    <h2 class="sidebar__title">{{ loc.lang_block_name }}</h2>
                    <ul class="sidebar__list">
                        <li class="sidebar__item">{{ loc.lang_content }}</li>
                    </ul>
                </section>
            </aside>

            <div class="main">
                <section class="main__experience">
                    <h2 class="main__title">{{ loc.experience_section_name }}</h2>
                    <div v-for="el in experiencies">
                        <h3 class="main__name">{{ el.title }}</h3>
                        <div class="main__block">
                            <div class="main__header">
                                <p class="main__link">{{ el.company.name }} <a :href="'https://'+el.company.link+'/'"
                                        target=" ">{{ el.company.link }}</a></p>
                                <p class="main__date">{{ el.date }}</p>
                            </div>
                            <ul class="main__list">
                                <li class="main__item main__item-marked" v-for="elem in el.list_items">{{elem.item}}
                                </li>
                            </ul>
                        </div>

                    </div>

                </section>

                <section class="main__education">
                    <h2 class="main__title">{{ loc.educ_section_name }}</h2>
                    <h3 class="main__name">{{ loc.educ_title }}</h3>
                    <div class="main__block" v-for="el in educations">

                        <div class="main__header">
                            <p class="main__date">{{ el.date }}</p>
                        </div>
                        <div class="main__description">
                            <p v-for="elem in el.description">{{ elem.item }}</p>
                        </div>
                    </div>
                </section>

                <section class="main__certif">
                    <h2 class="main__title">{{ loc.cert_section_name }}</h2>
                    <ul class="main__list main__list-down">
                        <li class="main__item main__item-marked" v-for="el in certifications">
                            {{ el.item }}
                        </li>
                    </ul>
                </section>

                <section class="main__code">
                    <h2 class="main__title">{{ loc.code_section_name }}</h2>
                    <div class="main__description main__description-down" v-for="el in codes">
                        <a :href="el.link" target="_blank">{{ el.text }}</a>
                    </div>
                </section>

            </div>
        </div>


        <footer class="footer">
            <!-- ссылку на ваш гитхаб,
            год создания приложения,
            логотип курса со ссылкой на курс -->
            <a :href="loc.link_github" target="_blank"><i class="fab fa-github"></i>{{ loc.alias_github }}</a>
            <p>{{ loc.current_date }}</p>
        </footer>


    </div>
</body>

</html>